* {
    margin: 0;
    padding: 0;
}

html::-webkit-scrollbar {
    width: 10px; 
 }

html::-webkit-scrollbar-track {
  background-color: #ffffff;
}

html::-webkit-scrollbar-thumb {
  background: #9b58b6;
}


h1, p, a {
    text-shadow: 3px 3px 0px black;
}

body {
    font: normal 20pt Arial;
    width: 100%;
}

a {
    color: #ffffff;
}

.header {
    display: flex;
    background-color: #9b58b6;
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 5px solid #000000;
    justify-content: space-between;
}

#btn-mobile {
    display: none;
}

@media (max-width: 844px) {
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
    }
    .links {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background-color: #9b58b6;
        height: 0px;
        transition: cubic-bezier(0, 1.22, 0.01, 1.2) 1s;
        padding-bottom: 10px;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }
    .links > a {
        padding-bottom: 5px;
        padding-top: 5px;
    }
    .links > a:hover {
        border-radius: 10px;
        background-color: #6c2a86;
        transition: 1s;
    }
    .links a {
        font-family: 'Press Start 2P', Arial, sans-serif;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }
    #nav.active .links {
        height: 210px;
        border-bottom: 5px solid #000000;
        visibility: visible;
    }
    #hamburguer {
        display: block;
        border-top: 2px solid;
        color: #ffffff;
        width: 20px;
    }
    #hamburguer::after, #hamburguer::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburguer {
        border-top-color: transparent;
    }
    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;

    }
}

.links a {
    font-family: 'Press Start 2P', Arial, sans-serif;
    margin-right: 20px;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}

.title {
    font-family: 'Press Start 2P', Arial, sans-serif;
    font-size: 30px;
    color: #ffffff;
    margin-left: 20px;
    text-shadow: 3px 3px 0px black;
}

.section1 {
    background-color: #e65454;
    height: 370px;
    border-bottom: 5px solid #000000;
    padding-top: 130px;
}

.main {
    margin-left: auto;
    margin-right: auto;
    background-color: #636363;
    height: 200px;
    width: 500px;
    border: 3px solid #000000;
}

.name {
    font-size: 30px;
    font-family: 'Press Start 2P', Arial, sans-serif;
    color: #ffffff;
    text-align: center;
    margin-top: 12%;
    text-shadow: 3px 3px 0px black;
}

.front {
    font-size: 25px;
    font-family: 'Press Start 2P', Arial, sans-serif;
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
    text-shadow: 3px 3px 0px black;
}

.section2 {
    background-color: #4993e7;
    height: 470px;
    border-bottom: 5px solid #000000;
}

.projects-title {
    font-family: 'Press Start 2P', Arial, sans-serif;
    color: #ffffff;
    text-align: center;
    padding-top: 30px;
}

.project1 {
    height: 300px;
    width: 300px;
    background-color: #6e6e6e;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 0px black;
}

.project1img {
    height: 200px;
    display: block;
    margin-left: 35px;
    position: absolute;
    margin-top: 50px;
}

.section3 {
    background-color: #f1e25a;
    border-bottom: 5px solid #000000;
    line-height: 30px;
    height: 910px;
}

.about {
    font-family: 'Press Start 2P', Arial, sans-serif;
    color: #ffffff;
    text-align: center;
    padding-top: 30px;
}

.abouttext {
    font-family: 'Press Start 2P', Arial, sans-serif;
    width: 700px;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 40px;
}

.section4 {
    background-color: #81e081;
    border-bottom: 5px solid #000000;
    height: 530px;
}

.skill-title {
    font-family: 'Press Start 2P', Arial, sans-serif;
    color: #ffffff;
    text-align: center;
    padding-top: 30px;
}

.skill-tec{
    display: flex;
    align-items: center;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 25px;
    color: #fff;
}
  
  .skill-tec .icon{
    margin-right: 25px;
    width: 90px;
}
  
  .skill-tec .right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
  
  .skill-tec .title{
    margin-bottom: 10px;
}
  
  .progress-bar{
    box-sizing: border-box;
    background-color: #fff;
    border: 5px solid #000;
    height: 40px;
}

.logo {
    text-decoration: none;
}
  
  .progress-bar::-webkit-progress-bar{
    background-color:#fff
}
  
  .progress-bar::-webkit-progress-value{
    background-color:#7C5E99
}
  
  .progress-bar::-moz-progress-bar{
    background-color:#7C5E99
}
  
  .wrapper-skill{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    margin-top: 40px;
}
  
  .wrapper-skill .skill-tec{
    display: flex;
    margin-bottom: 40px;
}
  
.wrapper-skill .progress-bar{
    width: 320px;
}
  
.wrapper-skill .icon{
    margin-right: 25px;
    width: 90px;
}
  
.wrapper-skill .skill-tec:nth-child(odd){
    margin-right: 100px;
}

.section5 {
    background-color: #686868;
    height: 230px;
    border-bottom: 5px solid #000000;
}

.contact { /* h1 */
    font-family: 'Press Start 2P', Arial, sans-serif;
    color: #ffffff;
    text-align: center;
    padding-top: 30px;
}

.contatos {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.github {
    margin-left: auto;
}

.tiktok {
    margin-left: auto;
    margin-right: auto;
}

.email {
    margin-right: auto;
}

.ola {
    margin-top: 20px;
    text-align: center;
    font-family: 'Press Start 2P', Arial, sans-serif;
    font-size: 20px;
    color: #ffffff;
}

.copyright {
    background-color: #000000;
    font-size: 17px;
    text-align: center;
    font-family: 'Press Start 2P', Arial, sans-serif;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
}

.copy {
    margin-left: 40%;
}

@media (max-width: 613px) {
    .main {
        max-width: 80%;
    }
}

@media (max-width: 537px) {
    .main {
        max-width: 70%;
    }
}

@media (max-width: 364px) {
    .main {
        max-width: 60%;
        height: 160px;
    }
    .section1 {
        height: 300px;
    }
    .name {
        font-size: 25px;
    }
    .front {
        font-size: 22px;
    }
}

@media (max-width: 359px) {
    .main {
        max-width: 57%;
        height: 150px;
    }
    .section1 {
        height: 300px;
    }
    .name {
        font-size: 23px;
    }
    .front {
        font-size: 20px;
    }
}

@media (max-width: 356px) {
    .main {
        max-width: 55%;
    }
    .name {
        font-size: 20px;
    }
    .front {
        font-size: 20px;
    }
}

@media (max-width: 354px) {
    .main {
        max-width: 53%;
        height: 140px;
    }
    .section1 {
        height: 300px;
    }
    .name {
        font-size: 20px;
    }
    .front {
        font-size: 18px;
    }
}

@media (max-width: 320px) {
    .main {
        max-width: 50%;
        height: 110px;
    }
    .section1 {
        height: 260px;
    }
    .name {
        font-size: 14px;
    }
    .front {
        font-size: 14px;
    }
}

@media (max-width: 283px) {
    .main {
        max-width: 47%;
        height: 90px;
    }
    .section1 {
        height: 240px;
    }
    .name {
        font-size: 12px;
    }
    .front {
        font-size: 12px;
    }
}

@media (max-width: 255px) {
    .main {
        max-width: 44%;
        height: 80px;
    }
    .section1 {
        height: 220px;
    }
    .name {
        font-size: 10px;
    }
    .front {
        font-size: 10px;
    }
}

@media (max-width: 229px) {
    .main {
        max-width: 40%;
        height: 70px;
    }
    .section1 {
        height: 200px;
    }
    .name {
        font-size: 8px;
    }
    .front {
        font-size: 8px;
    }
}

@media (max-width: 734px) {
    .abouttext {
        max-width: 80%;
    }
    .section3 {
        height: 1150px;
    }
}

@media (max-width: 716px) {
    .abouttext {
        max-width: 80%;
    }
    .section3 {
        height: 1180px;
    }
}

@media (max-width: 683px) {
    .abouttext {
        max-width: 80%;
    }
    .section3 {
        height: 1240px;
    }
}

@media (max-width: 650px) {
    .abouttext {
        max-width: 80%;
    }
    .section3 {
        height: 1330px;
    }
}

@media (max-width: 616px) {
    .abouttext {
        max-width: 80%;
    }
    .section3 {
        height: 1460px;
    }
}

@media (max-width: 583px) {
    .abouttext {
        max-width: 80%;
    }
    .section3 {
        height: 1550px;
    }
}

@media (max-width: 550px) {
    .abouttext {
        max-width: 80%;
    }
    .section3 {
        height: 1600px;
    }
}

@media (max-width: 516px) {
    .abouttext {
        max-width: 80%;
    }
    .section3 {
        height: 1740px;
    }
}

@media (max-width: 483px) {
    .abouttext {
        max-width: 80%;
    }
    .section3 {
        height: 1890px;
    }
}

@media (max-width: 459px) {
    .abouttext {
        max-width: 80%;
    }
    .section3 {
        height: 1900px;
    }
}

@media (max-width: 450px) {
    .abouttext {
        max-width: 80%;
    }
    .section3 {
        height: 1970px;
    }
}

@media (max-width: 416px) {
    .abouttext {
        max-width: 90%;
    }
    .section3 {
        height: 1890px;
    }
}

@media (max-width: 402px) {
    .abouttext {
        max-width: 90%;
    }
    .section3 {
        height: 1980px;
    }
}

@media (max-width: 383px) {
    .abouttext {
        max-width: 94%;
    }
    .section3 {
        height: 1990px;
    }
    
}

@media (max-width: 376px) {
    .abouttext {
        max-width: 96%;
        font-size: 20px;
    }
    .section3 {
        height: 1510px;
    }
}

@media (max-width: 371px) {
    .abouttext {
        max-width: 96%;
        font-size: 20px;
    }
    .section3 {
        height: 1580px;
    }
}

@media (max-width: 358px) {
    .abouttext {
        width: 100%;
    }
    .section3 {
        height: 1570px;
    }
}

@media (max-width: 350px) {
    .abouttext {
        max-width: 100%;
    }
    .section3 {
        height: 1570px;
    }
}

@media (max-width: 336px) {
    .abouttext {
        max-width: 96%;
        font-size: 20px;
    }
    .section3 {
        height: 1600px;
    }
}

@media (max-width: 329px) {
    .abouttext {
        max-width: 96%;
        font-size: 20px;
    }
    .section3 {
        height: 1770px;
    }
}

@media (max-width: 316px) {
    .abouttext {
        width: 100%;
    }
    .section3 {
        height: 1770px;
    }
}

@media (max-width: 308px) {
    .abouttext {
        max-width: 96%;
        font-size: 20px;
    }
    .section3 {
        height: 1910px;
    }
}

@media (max-width: 287px) {
    .abouttext {
        max-width: 96%;
        font-size: 15px;
    }
    .section3 {
        height: 1480px;
    }
}

@media (max-width: 282px) {
    .abouttext {
        max-width: 96%;
    }
    .section3 {
        height: 1580px;
    }
}

@media (max-width: 266px) {
    .abouttext {
        max-width: 96%;
        font-size: 15px;
    }
    .section3 {
        height: 1600px;
    }
}

@media (max-width: 251px) {
    .abouttext {
        max-width: 96%;
        font-size: 15px;
    }
    .section3 {
        height: 1750px;
    }
}

@media (max-width: 235px) {
    .abouttext {
        max-width: 96%;
        font-size: 15px;
    }
    .section3 {
        height: 1900px;
    }
}

@media (max-width: 220px) {
    .abouttext {
        max-width: 96%;
        font-size: 13px;
    }
    .section3 {
        height: 1750px;
    }
}

@media (max-width: 212px) {
    .about {
        font-size: 35px;
    }
}

@media (max-width: 206px) {
    .abouttext {
        max-width: 96%;
        font-size: 13px;
    }
    .section3 {
        height: 1870px;
    }
}

@media (max-width: 193px) {
    .about {
        font-size: 30px;
    }
    .abouttext {
        max-width: 96%;
        font-size: 11px;
    }
    .section3 {
        height: 1600px;
    }
}

@media (max-width: 186px) {
    .abouttext {
        max-width: 96%;
        font-size: 11px;
    }
    .section3 {
        height: 1720px;
    }
}

@media (max-width: 179px) {
    .abouttext {
        max-width: 96%;
        font-size: 11px;
    }
    .section3 {
        height: 1720px;
    }
}

@media (max-width: 177px) {
    .abouttext {
        max-width: 96%;
        font-size: 11px;
    }
    .section3 {
        height: 1870px;
    }
}


@media (max-width: 165px) {
    .about{
        font-size: 26px;
    }

    .abouttext {
        max-width: 96%;
        font-size: 11px;
    }
    .section3 {
        height: 1970px;
    }
}

@media (max-width: 154px) {
    .abouttext {
        max-width: 96%;
        font-size: 9px;
    }
    .section3 {
        height: 1720px;
    }
}

@media (max-width: 332px) {
    .project1 {
        width: 80%;
        height: 250px;
    }
    .project1img {
        width: 180px;
        height: 150px;
    }
    .section2 {
        height: 420px;
    }
    .projects-title {
        font-size: 30px;
    }
}

@media (max-width: 268px) {
    .project1 {
        width: 70%;
        height: 220px;
    }
    .project1img {
        width: 110px;
        height: 120px;
    }
    .section2 {
        height: 400px;
    }
    .projects-title {
        font-size: 30px;
    }
}

@media (max-width: 269px) {
    .project1 {
        width: 95%;
        height: 250px;
    }
    .project1img {
        width: 180px;
        height: 150px;
    }
    .section2 {
        height: 420px;
    }
    .projects-title {
        font-size: 30px;
    }
}

@media (max-width: 324px) {
    .project1 {
        width: 80%;
        height: 250px;
    }
    .project1img {
        width: 180px;
        height: 150px;
    }
    .section2 {
        height: 420px;
    }
    .projects-title {
        font-size: 30px;
    }
}

@media (max-width: 316px) {
    .project1 {
        width: 80%;
        height: 250px;
    }
    .project1img {
        width: 170px;
        height: 150px;
    }
    .section2 {
        height: 420px;
    }
    .projects-title {
        font-size: 30px;
    }
}

@media (max-width: 297px) {
    .project1 {
        width: 80%;
        height: 250px;
    }
    .project1img {
        width: 160px;
        height: 150px;
    }
    .section2 {
        height: 420px;
    }
    .projects-title {
        font-size: 30px;
    }
}

@media (max-width: 280px) {
    .project1 {
        width: 80%;
        height: 250px;
    }
    .project1img {
        width: 140px;
        height: 150px;
    }
    .section2 {
        height: 420px;
    }
    .projects-title {
        font-size: 30px;
    }
}

@media (max-width: 536px) {
    .section5 {
        height: 270px;
    }
}

@media (max-width: 376px) {
    .section5 {
        height: 290px;
    }
}

@media (max-width: 316px) {
    .section5 {
        height: 310px;
    }
    .contact {
        font-size: 30px;
    }
}

@media (max-width: 240px) {
    .section5 {
        height: 310px;
    }
    .contact {
        font-size: 20px;
    }
    .ola {
        font-size: 20px;
    }
}

@media (max-width: 560px) {
    .icon {
        display: none;
    }
}

