* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Koulen';
    color: #fff;
} 

.presentation {
    width: 100%;
    height: 600px;

    background-color: #424098;

    border-bottom: 5px solid #000;

    align-items: center;
    justify-content: center;
}

.presentationBlock {
    width: 100%;

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LVFoto {
    width: 200px;
    height: 200px;

    border-radius: 50%;
    border: 5px solid #000000;

    position: absolute;
    
    top: 50px;

    transition: all .2s ease-in-out;

    z-index: 1;
}

.LVFoto:hover {
    border-radius: 50%;
    border: 5px solid #000000;

    position: absolute;

    transform: scale(1.05);
}

.line {
    position: absolute;

    width: 2px;
    height: 300px;

    background-color: #000000;
    top: 150px;

    z-index: 0;
}

.nameBlock {
    position: absolute;

    display: flex;
    flex-direction: column;

    width: 250px;
    height: 150px;

    background-color: #000000;

    align-items: center;
    justify-content: center;
    top: 350px;

    transition: all .2s ease-in-out;
}

.nameBlock:hover {
    transform: scale(1.05);
}

.name {
    font-size: 40px;
}

.frontEnd {
    font-size: 26px;
}

.projects {
    width: 100%;
    height: 450px;

    background-color: #701B1B;

    border-bottom: 5px solid #000;
}

.projectsTitle {
    font-size: 50px;
    text-align: center;
}

.project1img {
    width: 250px;
    height: 250px;

    border-radius: 50%;
    border: 5px solid #ffffff;
}

.project2img {
    width: 250px;
    height: 250px;

    border-radius: 50%;
    border: 5px solid #ffffff;
}

.project3img {
    width: 250px;
    height: 250px;

    border-radius: 50%;
    border: 5px solid #ffffff;
}

.projectPart {
    display: flex;
    justify-content: space-evenly;
    
    padding-top: 50px;
}

.about {
    width: 100%;
    height: 380px;

    background-color: #255F58;

    border-bottom: 5px solid #000;
}

.aboutTitle {
    font-size: 50px;

    text-align: center;
}

.aboutParagraph {
    text-align: center;

    font-size: 25px;

    margin-left: 350px;
    margin-right: 350px;
}

.bubbles1 {
    width: 60px;
    height: 60px;

    position: absolute;
    
    left: 90%;
    top: 1000px;
}

.bubbles2 {
    width: 60px;
    height: 60px;

    position: absolute;
    
    left: 5%;
    top: 1240px;
}

.skills {
    width: 100%;
    height: 430px;

    background-color: #2F1F1F;

    border-bottom: 5px solid #000;
}

.skillsTitle {
    font-size: 50px;

    text-align: center;
}

.skillsImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.social {
    width: 100%;
    height: 200px;

    background-color: #474747;
    border-bottom: 5px solid #000;
}

.socialTitle {
    font-size: 50px;

    text-align: center;
}
 
.whatsapp {
    width: 60px;
    height: 60px;
}

.tiktok {
    width: 50px;
    height: 60px;
}

.github {
    width: 60px;
    height: 60px;
}

.email {
    width: 70px;
    height: 60px;
}

.socialBlock {
    display: flex;

    justify-content: space-evenly;

    margin-top: 25px;
}

@media (max-width: 613px) {
    .main {
        max-width: 80%;
    }
}